:root {
  margin: 0;
  padding: 0;
  border: none;
  background: #bfe8e3;
}

#game-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

#game-view {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
