:root {
  margin: 0;
  padding: 0;
  border: none;
  background-repeat: repeat;
  background-image: url("../img/bananas.webp");
}

#game-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

#game-view {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
